# ==========================
# Environment
# ==========================

.env
.env.*

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Runtime application data
# ==========================

appdata/

# ==========================
# Temporary / Backup files
# ==========================

*.tmp
*.bak
*.swp
*~

# ==========================
# Operating System files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================

.vscode/
.idea/
backups/
